kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: autorizar-{{ autorizar_grupo_usr }}-rb
  namespace: {{ autorizar_namespace }}
subjects:
  - kind: Group
    name: {{ autorizar_grupo_usr }}
    apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: Role
  name: autorizar-{{ autorizar_grupo_usr }}-r
  apiGroup: rbac.authorization.k8s.io
